offinout/Акт осмотра.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_СтоимРаб">
		<xs:restriction base="xs:short">
			<xs:enumeration value="10800"/>
			<xs:enumeration value="1350"/>
			<xs:enumeration value="1620"/>
			<xs:enumeration value="180"/>
			<xs:enumeration value="1800"/>
			<xs:enumeration value="270"/>
			<xs:enumeration value="2700"/>
			<xs:enumeration value="360"/>
			<xs:enumeration value="3600"/>
			<xs:enumeration value="4050"/>
			<xs:enumeration value="4680"/>
			<xs:enumeration value="630"/>
			<xs:enumeration value="720"/>
			<xs:enumeration value="90"/>
			<xs:enumeration value="900"/>
			<xs:enumeration value="990"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_СтоимМат">
		<xs:restriction base="xs:short">
			<xs:enumeration value="13585"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_СтоимДетали">
		<xs:restriction base="xs:short">
			<xs:enumeration value="1062"/>
			<xs:enumeration value="10817"/>
			<xs:enumeration value="1388"/>
			<xs:enumeration value="139"/>
			<xs:enumeration value="1813"/>
			<xs:enumeration value="2024"/>
			<xs:enumeration value="2028"/>
			<xs:enumeration value="2156"/>
			<xs:enumeration value="4049"/>
			<xs:enumeration value="459"/>
			<xs:enumeration value="572"/>
			<xs:enumeration value="6005"/>
			<xs:enumeration value="610"/>
			<xs:enumeration value="629"/>
			<xs:enumeration value="6995"/>
			<xs:enumeration value="750"/>
			<xs:enumeration value="833"/>
			<xs:enumeration value="860"/>
			<xs:enumeration value="8877"/>
			<xs:enumeration value="976"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_НЧРабот">
		<xs:restriction base="xs:short">
			<xs:enumeration value="900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_НЧОкрас">
		<xs:restriction base="xs:short">
			<xs:enumeration value="900"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_КолвоРП">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="1.0"/>
			<xs:enumeration value="10.0"/>
			<xs:enumeration value="11.0"/>
			<xs:enumeration value="12.0"/>
			<xs:enumeration value="120.0"/>
			<xs:enumeration value="13.0"/>
			<xs:enumeration value="15.0"/>
			<xs:enumeration value="16.0"/>
			<xs:enumeration value="18.0"/>
			<xs:enumeration value="2.0"/>
			<xs:enumeration value="20.0"/>
			<xs:enumeration value="21.0"/>
			<xs:enumeration value="3.0"/>
			<xs:enumeration value="30.0"/>
			<xs:enumeration value="4.0"/>
			<xs:enumeration value="40.0"/>
			<xs:enumeration value="45.0"/>
			<xs:enumeration value="52.0"/>
			<xs:enumeration value="7.0"/>
			<xs:enumeration value="8.0"/>
			<xs:enumeration value="9.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ТипСистемыОкрас">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2-СЛОЙН МЕТАЛЛИК"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ТипРемонта">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="E"/>
				<xs:enumeration value="I"/>
				<xs:enumeration value="L"/>
				<xs:enumeration value="LE"/>
				<xs:enumeration value="LE3"/>
				<xs:enumeration value="LI1"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ТипОкрас">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AZT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="СтоимРаб">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_СтоимРаб">
					<xs:attribute name="Валюта" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="СтоимМат">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_СтоимМат">
					<xs:attribute name="Валюта" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="СтоимДетали">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_СтоимДетали">
					<xs:attribute name="КодПересч" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="*"/>
								<xs:enumeration value="U"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Валюта" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ремонт">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ТипРемонта"/>
				<xs:element ref="КодДетали"/>
				<xs:element ref="НаимДетали"/>
				<xs:element ref="НаимРемонта"/>
				<xs:element ref="КолвоРП"/>
				<xs:element ref="СтоимРаб"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Расчеты">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Расчет"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Расчет">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ПарамРасч"/>
				<xs:element ref="Детали"/>
				<xs:element ref="Работы"/>
				<xs:element ref="Окраска"/>
				<xs:element ref="ДопКоды"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Работы">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Работа" maxOccurs="unbounded"/>
				<xs:element ref="Ремонт" maxOccurs="unbounded"/>
				<xs:element ref="ДопРабота"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Работа">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="НомРаб"/>
				<xs:element ref="НаимРаб"/>
				<xs:element ref="КолвоРП"/>
				<xs:element ref="СтоимРаб"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="РПвЧас">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ПодготОкрасРаботы">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ПодготОкрасРабота" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ПодготОкрасРабота">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="НаимРаб"/>
				<xs:element ref="КолвоРП"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ПарамРасч">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ДатаРасч"/>
				<xs:element ref="ДатаЦен"/>
				<xs:element ref="РПвЧас"/>
				<xs:element ref="ВалРасч"/>
				<xs:element ref="ВалИсх"/>
				<xs:element ref="Курс"/>
				<xs:element ref="НацНаДетали"/>
				<xs:element ref="НЧРабот"/>
				<xs:element ref="НЧОкрас"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ПарамОкрасРабот">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ТипОкрас"/>
				<xs:element ref="КодТипаОкрас"/>
				<xs:element ref="НаимТипОкрас"/>
				<xs:element ref="ТипСистемыОкрас"/>
				<xs:element ref="РПвЧас"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Окраска">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ПарамОкрасРабот"/>
				<xs:element ref="ПодготОкрасРаботы"/>
				<xs:element ref="ОкрасРаботы"/>
				<xs:element ref="СтоимМат"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ОкрасРаботы">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ОкрасРабота" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ОкрасРабота">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ТипРемонта"/>
				<xs:element ref="КодДетали"/>
				<xs:element ref="НаимДетали"/>
				<xs:element ref="НомРаб"/>
				<xs:element ref="НаимРаб"/>
				<xs:element ref="КолвоРП"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="НомРаб">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="8120600)"/>
				<xs:enumeration value="8120700)"/>
				<xs:enumeration value="8220400)"/>
				<xs:enumeration value="8220500)"/>
				<xs:enumeration value="8220700)"/>
				<xs:enumeration value="8220900)"/>
				<xs:enumeration value="9310900"/>
				<xs:enumeration value="9380500)"/>
				<xs:enumeration value="9381900"/>
				<xs:enumeration value="9382200"/>
				<xs:enumeration value="9390100)"/>
				<xs:enumeration value="9390300"/>
				<xs:enumeration value="9414600"/>
				<xs:enumeration value="9414700"/>
				<xs:enumeration value="9420300"/>
				<xs:enumeration value="9420500"/>
				<xs:enumeration value="9460100"/>
				<xs:enumeration value="9610200"/>
				<xs:enumeration value="9618200"/>
				<xs:enumeration value="9630200)"/>
				<xs:enumeration value="9638900"/>
				<xs:enumeration value="9710100"/>
				<xs:enumeration value="9750500)"/>
				<xs:enumeration value="БН"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НомДетали">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0244876"/>
				<xs:enumeration value="90186555"/>
				<xs:enumeration value="90186593"/>
				<xs:enumeration value="90239817-A"/>
				<xs:enumeration value="90245295"/>
				<xs:enumeration value="90295613H"/>
				<xs:enumeration value="90295627H"/>
				<xs:enumeration value="96098915"/>
				<xs:enumeration value="96175625"/>
				<xs:enumeration value="96175639"/>
				<xs:enumeration value="96176249"/>
				<xs:enumeration value="96189806"/>
				<xs:enumeration value="96189875"/>
				<xs:enumeration value="96191787"/>
				<xs:enumeration value="96211473"/>
				<xs:enumeration value="96267421"/>
				<xs:enumeration value="EC96177403"/>
				<xs:enumeration value="K96169054"/>
				<xs:enumeration value="K96191844-A"/>
				<xs:enumeration value="БН"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НацНаДетали">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="2.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НаимТипОкрас">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="СИСТЕМА AZT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НаимРемонта">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ОТРЕМОНТИРОВАТЬ"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НаимРаб" type="xs:string"/>
	<xs:element name="НаимДетали">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Боковина кузова левая ВОССТ ГЕОМЕТР"/>
				<xs:enumeration value=" Брызговик передний левый"/>
				<xs:enumeration value=" Герметик для вклейки лобового стекла"/>
				<xs:enumeration value=" Дверь передняя левая"/>
				<xs:enumeration value=" Крыло переднее левое"/>
				<xs:enumeration value=" Молдинг стекла ветрового"/>
				<xs:enumeration value=" Молдинг стекла передней левой двери"/>
				<xs:enumeration value=" Обивка двери передней левой"/>
				<xs:enumeration value=" Панель боковины верхняя левая"/>
				<xs:enumeration value=" Панель пола "/>
				<xs:enumeration value=" Подкрылок передний левый"/>
				<xs:enumeration value=" Порог левой боковины"/>
				<xs:enumeration value=" Ручка двери передней левой наружная"/>
				<xs:enumeration value=" Ручка наружная передней двери левой"/>
				<xs:enumeration value=" Стекло двери передней левой"/>
				<xs:enumeration value=" Стекло лобовое"/>
				<xs:enumeration value=" Стеклоподъемник передней левой двери"/>
				<xs:enumeration value=" Стойка боковины передняя левая"/>
				<xs:enumeration value=" Стойка боковины передняя левая В СБ"/>
				<xs:enumeration value=" Стойка боковины средняя внутренняя"/>
				<xs:enumeration value=" Стойка левой боковины средняя"/>
				<xs:enumeration value=" Стойка левой боковины средняя В СБ"/>
				<xs:enumeration value=" Стойка передняя левая внутренняя Н"/>
				<xs:enumeration value=" Уплотнитель двери передней левой"/>
				<xs:enumeration value=" Уплотнитель передней левой двери"/>
				<xs:enumeration value=" Усилитель порога левого"/>
				<xs:enumeration value="ОГРАНИЧ Л  Дверь передняя левая"/>
				<xs:enumeration value="ПОЛ"/>
				<xs:enumeration value="УПЛ ОКНА ДВЕРИ ВНУ Л"/>
				<xs:enumeration value="УПЛ СТЕКЛА НАР Л"/>
				<xs:enumeration value="УСИЛ А-СТОЙКИ Н Л"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="НЧРабот">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_НЧРабот">
					<xs:attribute name="Валюта" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="НЧОкрас">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_НЧОкрас">
					<xs:attribute name="Валюта" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="RUR"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Курс">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="43.9814"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="КолвоРП">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_КолвоРП">
					<xs:attribute name="КодПересч">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="КодТипаОкрас">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="51"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="КодДетали">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1401"/>
				<xs:enumeration value="1411"/>
				<xs:enumeration value="1420"/>
				<xs:enumeration value="1477"/>
				<xs:enumeration value="1481"/>
				<xs:enumeration value="1505"/>
				<xs:enumeration value="1509"/>
				<xs:enumeration value="1519"/>
				<xs:enumeration value="1547"/>
				<xs:enumeration value="1565"/>
				<xs:enumeration value="1597"/>
				<xs:enumeration value="1619"/>
				<xs:enumeration value="1625"/>
				<xs:enumeration value="1711"/>
				<xs:enumeration value="2101"/>
				<xs:enumeration value="2141"/>
				<xs:enumeration value="2227"/>
				<xs:enumeration value="2269"/>
				<xs:enumeration value="2277"/>
				<xs:enumeration value="2287"/>
				<xs:enumeration value="2395"/>
				<xs:enumeration value="2445"/>
				<xs:enumeration value="4251"/>
				<xs:enumeration value="741"/>
				<xs:enumeration value="841"/>
				<xs:enumeration value="897"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Код">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
				<xs:enumeration value="24"/>
				<xs:enumeration value="51"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Значение">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0.0"/>
				<xs:enumeration value="130.0"/>
				<xs:enumeration value="19.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ДопРабота">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ТипРемонта"/>
				<xs:element ref="КодДетали"/>
				<xs:element ref="НаимДетали"/>
				<xs:element ref="НаимРаб"/>
				<xs:element ref="КолвоРП"/>
				<xs:element ref="СтоимРаб"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ДопКоды">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ДопКод" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ДопКод">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Код"/>
				<xs:element ref="Значение"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Деталь">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ТипРемонта"/>
				<xs:element ref="КодДетали"/>
				<xs:element ref="НаимДетали"/>
				<xs:element ref="НомДетали"/>
				<xs:element ref="СтоимДетали"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Детали">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Деталь" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ДатаЦен">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2013-09-01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ДатаРасч">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime">
				<xs:enumeration value="2013-09-15T17:59:40.26"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ВалРасч">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="RUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ВалИсх">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
